[user]
	name = Matthew Stiles
	email = mstiles92@gmail.com
	signingkey = C0AC1B5B
[commit]
	gpgsign = true
	template = ~/.gitmessage
[core]
	editor = vim
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = main
[include]
    path = .gitconfig-local
