export QT_QPA_PLATFORMTHEME=gtk2
export DESKTOP_SESSION=gnome

export GPG_TTY=`tty`
export GPG_AGENT_INFO=/run/user/$(id -u)/gnupg/S.gpg-agent::
export SSH_AUTH_SOCK=/run/user/$(id -u)/gnupg/S.gpg-agent.ssh
