@import "mocha.css";

* {
    font-family: Hasklug Nerd Font;
    font-size: 12px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 0;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
    margin-right: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#idle_inhibitor,
#wireplumber,
#network,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

#idle_inhibitor {
    /* TODO: change this to encapsulate other toggles in the same group once added */
    border-radius: 1rem;
}

#pulseaudio,
#wireplumber {
    color: @green;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#wireplumber.muted {
    color: @red;
}

#backlight {
    color: @yellow;
}

#memory {
    color: @teal;
}

#cpu {
    color: @peach;
}

#temperature {
    color: @rosewater;
}

#temperature.critical {
    color: @red;
}

#network {
    color: @lavender;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
    margin-right: 1rem;
    border-radius: 1rem;
}
